*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-margin-top: 75px;
}
body{
    font-weight: 400;
    overflow-x: hidden;
    background-color: #121212 !important;
    color: #fff !important;
    box-sizing: border-box;
}



/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #153448;
    padding: 20px;
    opacity: 0.85;
}

.navbar ul{
    display: flex
}
.navbar li{
    display: block;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    padding: 15px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.8px;
}

.navbar a:hover{
    color: #fff;
}
.navbar a:hover, .navbar a:active{
    color:#3C5B6F;
}

.hamburger{
    display: none;
}

/* section */
.jumbotron{
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-image: url('assets/coding.jpg');
    padding: 300px 0 300px 0;
}

.jumbotron h1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-align: center;
    opacity: 1;
}
.jumbotron p{
    text-align: center;
    font-style: italic;
    padding: 20px;
}


main{
    padding: 20px;
    display: flex;
}
/* content */
.content{
    padding: 10px;
    width: 60%;
    height: 100%;
}

/* about */
.about{
    border: 5px solid #153448;
    padding: 20px;
    justify-content: center;
    text-align: center;
    position: relative;
}
.about img{
    width: 50%;
}
.about h1{
    letter-spacing: 0.8px;
    font-size: 40px;
}
.about p{
    text-align: justify;
    letter-spacing: 0.8px;
    font-size: 15px;
}

/* project */
.project{
    margin-top: 50px;
    border: 5px solid #153448;
    padding: 20px;
   position: relative;
}
.project h1{
    font-size: 40px;
    letter-spacing: 0.8px;
    text-align: center;
}
.project p{
    font-size: 15px;
    letter-spacing: 0.8px;
    padding-bottom: 10px;
    text-align: center;
}
.content-slide{
    position: relative;
    margin: auto;
}
.card{
    border: 2px solid #3C5B6F;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    position: relative;
}
.card:first-child {
    display: block;
}
.card img{
   width: 100%;
   height: 50%;
   z-index: -1;
   animation-name: fade;
   animation-duration: 1s;
}
.card h1{
    font-size: 20px;
}
.card p{
    font-size: 16px;
    font-style: italic;
} 
.prev,
.next{
    top: 50%;
    position: absolute;
    cursor: pointer;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5 ease;
    border-radius: 3px;
    user-select: none;
    background-color: transparent;
    opacity: 0.6;
    padding: 15px;
}
@keyframes fade{
    from{opacity: 0.6;}
    to{opacity: 1;}
}
.next{
    right: 20px;
}
.prev{
    left: 20px;
}

.prev:hover, .next:hover{
    background-color: #3C5B6F;
    color: #121212;
}
/* contact */
.contact{
    margin-top: 50px;
    border: 5px solid #153448;
    padding: 20px;
    position: relative;
}

.contact h1{
    font-size: 40px;
    letter-spacing: 0.8px;
    text-align: center;
}
.contact p{
    font-size: 15px;
    letter-spacing: 0.8px;
    padding-bottom: 10px;
    text-align: center;
}

.contact .row{
    padding-top: 10px;
    position: relative;
}

.input-control input{
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #3C5B6F;
    background: transparent;
    color: #fff;
}
.input-control{
    padding-bottom: 15px;
}

form button{
padding: 10px 15px;
background-color: #3C5B6F;
color: #fff;
font-size: 15px;
cursor: pointer;
border: none;
transition: 0.3s ease-in-out;
}
form button:hover{
    background-color: #153448;
}

/* aside profile */
aside {
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    width: 40%;
    border: 5px solid #153448;
    overflow: hidden;
}

.profil{
    justify-content: center;
    padding: 10px;
    position: relative;
}
.profil h1{
   text-align: center;
   font-size: 30px;
   letter-spacing: 0.8px;
   padding-bottom: 10px;
}
.profil img{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: auto;
    width: 40%;
    position: relative;
    border-radius: 50%;
}
.table{
    padding-bottom: 10px;
    text-align: justify;
}

/* footer */
footer{
    background-color: #153448;
    padding: 20px;
    text-align: center;
}


/* reponsive */
@media  (max-width: 786px){
    html{
        font-size: 70%;
    }
}
@media  (max-width: 425px){
    main{
        display: block;
    }
    .content{
        width: 100%;
    }
    aside{
        width: 100%;
    }
}

@media (max-width: 320px) {

    .jumbotron h1 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-align: center;
        opacity: 1;
        }
    
    .jumbotron p {
        text-align: center;
        font-style: italic;
        padding: 20px;
        }
}

@media (max-width: 425px){
    .hamburger{
        display: block;
        cursor: pointer;
        z-index: 999;
        right: 0;
    }
    .hamburger .line{
        width: 20px;
        height: 2px;
        background-color: #fff;
       margin: 6px auto;
    }
    .navbar ul{
       position: absolute;
       top: 60px;
       left: 0;
       right: 0;
       width: 100%;
       background: #153448;
       height: 0;
       display: block;
       justify-content: center;
       transition: 0.2s;
       overflow: hidden
    }

    .navbar a{
        display: flex;
        width: fit-content;
        justify-content: center;
        margin: 10px auto 0 auto;
        opacity: 0;
        transition: 0.5s;
    }
    nav .active{
        height: 250px;
    }
    nav .active a{
        opacity: 1;
    }
}